interactions:
- request:
    body: '{"signer": {"email": "test@willing.com", "first_name": "CI", "last_name":
      "Test"}, "document": "JVBERi0xLjcKCjEgMCBvYmogICUgZW50cnkgcG9pbnQKPDwKICAvVHlwZSAvQ2F0YWxvZwogIC9QYWdlcyAyIDAgUgo+PgplbmRvYmoKCjIgMCBvYmoKPDwKICAvVHlwZSAvUGFnZXMKICAvTWVkaWFCb3ggWyAwIDAgMjAwIDIwMCBdCiAgL0NvdW50IDEKICAvS2lkcyBbIDMgMCBSIF0KPj4KZW5kb2JqCgozIDAgb2JqCjw8CiAgL1R5cGUgL1BhZ2UKICAvUGFyZW50IDIgMCBSCiAgL1Jlc291cmNlcyA8PAogICAgL0ZvbnQgPDwKICAgICAgL0YxIDQgMCBSIAogICAgPj4KICA+PgogIC9Db250ZW50cyA1IDAgUgo+PgplbmRvYmoKCjQgMCBvYmoKPDwKICAvVHlwZSAvRm9udAogIC9TdWJ0eXBlIC9UeXBlMQogIC9CYXNlRm9udCAvVGltZXMtUm9tYW4KPj4KZW5kb2JqCgo1IDAgb2JqICAlIHBhZ2UgY29udGVudAo8PAogIC9MZW5ndGggNDQKPj4Kc3RyZWFtCkJUCjcwIDUwIFRECi9GMSAxMiBUZgooSGVsbG8sIHdvcmxkISkgVGoKRVQKZW5kc3RyZWFtCmVuZG9iagoKeHJlZgowIDYKMDAwMDAwMDAwMCA2NTUzNSBmIAowMDAwMDAwMDEwIDAwMDAwIG4gCjAwMDAwMDAwNzkgMDAwMDAgbiAKMDAwMDAwMDE3MyAwMDAwMCBuIAowMDAwMDAwMzAxIDAwMDAwIG4gCjAwMDAwMDAzODAgMDAwMDAgbiAKdHJhaWxlcgo8PAogIC9TaXplIDYKICAvUm9vdCAxIDAgUgo+PgpzdGFydHhyZWYKNDkyCiUlRU9G"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fairfax.proof.com/v1/transactions/?document_url_version=v1
  response:
    body:
      string: '{"id":"ot_ngzeo44","attachments":[],"cost":0,"date_created":"2024-10-02T20:47:20.745807Z","date_updated":"2024-10-02T20:47:21.249176Z","default_text_tag_syntax":"STANDARD","detailed_status":"sent_to_signer","documents":[{"id":"do_f0c41501-4c13-4ac0-b72e-0268b50306fb","allowed_actions":["CUSTOMER_CAN_ANNOTATE","NOTARIZATION_REQUIRED"],"bundle_position":0,"completion_state":"incomplete","date_created":"2024-10-02T20:47:20.958128Z","date_updated":"2024-10-02T20:47:20.996783Z","document_name":"20241002-30829-tx9gj.pdf","esign_required":false,"identity_confirmation_required":false,"notarization_required":true,"processing_state":"pending","requirement":"notarization","signing_designation_groups":[],"signing_designations":[],"vaulted":false}],"notarization_records":[],"organization_id":"or_d3gg34g","payer":"sender","redirect":{},"require_secondary_photo_id":false,"sender_name":"MetLife
        Legal Plans","signer_info":{"email":"test@willing.com","first_name":"CI","last_name":"Test","transaction_access_link":"https://app.fairfax.proof.com/activate-transaction?bundle_id=dbe8b2e30d-d9c5-4094-8dfd-a7d2791cfb38\u0026code=EVVNJLHGVCPCHJDH\u0026completion_requirements%5B%5D=NOTARIZATION\u0026document_count=1\u0026email=test%40willing.com\u0026is_mortgage=false\u0026organization_name=MetLife+Legal+Plans\u0026requires_nsa_meeting=true\u0026s_key=EVVNJLHGVCPCHJDH\u0026target=BUNDLE\u0026transaction_id=otngzeo44\u0026user_id=usnm9kjp6","sdk_token":"https://app.fairfax.proof.com/activate-transaction?bundle_id=dbe8b2e30d-d9c5-4094-8dfd-a7d2791cfb38\u0026code=EVVNJLHGVCPCHJDH\u0026completion_requirements%5B%5D=NOTARIZATION\u0026document_count=1\u0026email=test%40willing.com\u0026is_mortgage=false\u0026organization_name=MetLife+Legal+Plans\u0026requires_nsa_meeting=true\u0026s_key=EVVNJLHGVCPCHJDH\u0026target=BUNDLE\u0026transaction_id=otngzeo44\u0026user_id=usnm9kjp6","link_expired":false,"address":{"line1":"","line2":"","city":"","state":"","postal":"","country":""},"vesting_type":"non_borrower","signatory_capacities":[],"signing_status":"incomplete"},"signers":[{"email":"test@willing.com","first_name":"CI","last_name":"Test","transaction_access_link":"https://app.fairfax.proof.com/activate-transaction?bundle_id=dbe8b2e30d-d9c5-4094-8dfd-a7d2791cfb38\u0026code=EVVNJLHGVCPCHJDH\u0026completion_requirements%5B%5D=NOTARIZATION\u0026document_count=1\u0026email=test%40willing.com\u0026is_mortgage=false\u0026organization_name=MetLife+Legal+Plans\u0026requires_nsa_meeting=true\u0026s_key=EVVNJLHGVCPCHJDH\u0026target=BUNDLE\u0026transaction_id=otngzeo44\u0026user_id=usnm9kjp6","sdk_token":"https://app.fairfax.proof.com/activate-transaction?bundle_id=dbe8b2e30d-d9c5-4094-8dfd-a7d2791cfb38\u0026code=EVVNJLHGVCPCHJDH\u0026completion_requirements%5B%5D=NOTARIZATION\u0026document_count=1\u0026email=test%40willing.com\u0026is_mortgage=false\u0026organization_name=MetLife+Legal+Plans\u0026requires_nsa_meeting=true\u0026s_key=EVVNJLHGVCPCHJDH\u0026target=BUNDLE\u0026transaction_id=otngzeo44\u0026user_id=usnm9kjp6","link_expired":false,"address":{"line1":"","line2":"","city":"","state":"","postal":"","country":""},"vesting_type":"non_borrower","signatory_capacities":[],"signing_status":"incomplete"}],"status":"sent","transaction_name":"Untitled
        Transaction"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - 1a00da27-1fbe-4595-a6d9-7c67b5fd82f4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fairfax.proof.com/v1/transactions/ot_ngzeo44
  response:
    body:
      string: '{"id":"ot_ngzeo44","attachments":[],"cost":0,"date_created":"2024-10-02T20:47:20.745807Z","date_updated":"2024-10-02T20:47:21.249176Z","default_text_tag_syntax":"STANDARD","detailed_status":"sent_to_signer","documents":[{"id":"do_f0c41501-4c13-4ac0-b72e-0268b50306fb","allowed_actions":["CUSTOMER_[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fairfax.proof.com/v1/transactions/ot_ngzeo44/documents/do_f0c41501-4c13-4ac0-b72e-0268b50306fb
  response:
    body:
      string: '{"errors":["Document processing: pending"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - 1bc4a470-c995-40e6-b8c5-cc9418592073
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fairfax.proof.com/v1/transactions/ot_ngzeo44/documents/do_f0c41501-4c13-4ac0-b72e-0268b50306fb
  response:
    body:
      string: '{"id":"do_f0c41501-4c13-4ac0-b72e-0268b50306fb","allowed_actions":["CUSTOMER_CAN_ANNOTATE","NOTARIZATION_REQUIRED"],"bundle_position":0,"completion_state":"incomplete","date_created":"2024-10-02T20:47:20.958128Z","date_updated":"2024-10-02T20:47:22.092905Z","document_name":"20241002-30829-tx9gj.pdf","is_enote":false,"permissions":["CUSTOMER_CAN_ANNOTATE","NOTARIZATION_REQUIRED"],"processing_error":null,"processing_state":"done","rejection_reason":null,"rejection_anecdote":null,"requirement":"notarization","signed_url":null,"signing_designation_groups":[],"signing_designations":[],"signing_type":"NOTARIZATION","tracking_id":null,"final_document_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - 59c203ab-70a2-4423-bbfa-61f09781e251
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fairfax.proof.com/v1/transactions/ot_ngzeo44
  response:
    body:
      string: '{"message":"Deleted Transaction ot_ngzeo44 successfully"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - bfacb6f6-9715-4768-8761-9e255d420b0b
    status:
      code: 200
      message: OK
version: 1
