interactions:
- request:
    body: '{"signer": {"email": "test@willing.com", "first_name": "CI", "last_name":
      "Test"}, "document": "JVBERi0xLjcKCjEgMCBvYmogICUgZW50cnkgcG9pbnQKPDwKICAvVHlwZSAvQ2F0YWxvZwogIC9QYWdlcyAyIDAgUgo+PgplbmRvYmoKCjIgMCBvYmoKPDwKICAvVHlwZSAvUGFnZXMKICAvTWVkaWFCb3ggWyAwIDAgMjAwIDIwMCBdCiAgL0NvdW50IDEKICAvS2lkcyBbIDMgMCBSIF0KPj4KZW5kb2JqCgozIDAgb2JqCjw8CiAgL1R5cGUgL1BhZ2UKICAvUGFyZW50IDIgMCBSCiAgL1Jlc291cmNlcyA8PAogICAgL0ZvbnQgPDwKICAgICAgL0YxIDQgMCBSIAogICAgPj4KICA+PgogIC9Db250ZW50cyA1IDAgUgo+PgplbmRvYmoKCjQgMCBvYmoKPDwKICAvVHlwZSAvRm9udAogIC9TdWJ0eXBlIC9UeXBlMQogIC9CYXNlRm9udCAvVGltZXMtUm9tYW4KPj4KZW5kb2JqCgo1IDAgb2JqICAlIHBhZ2UgY29udGVudAo8PAogIC9MZW5ndGggNDQKPj4Kc3RyZWFtCkJUCjcwIDUwIFRECi9GMSAxMiBUZgooSGVsbG8sIHdvcmxkISkgVGoKRVQKZW5kc3RyZWFtCmVuZG9iagoKeHJlZgowIDYKMDAwMDAwMDAwMCA2NTUzNSBmIAowMDAwMDAwMDEwIDAwMDAwIG4gCjAwMDAwMDAwNzkgMDAwMDAgbiAKMDAwMDAwMDE3MyAwMDAwMCBuIAowMDAwMDAwMzAxIDAwMDAwIG4gCjAwMDAwMDAzODAgMDAwMDAgbiAKdHJhaWxlcgo8PAogIC9TaXplIDYKICAvUm9vdCAxIDAgUgo+PgpzdGFydHhyZWYKNDkyCiUlRU9G"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fairfax.proof.com/v1/transactions/?document_url_version=v1
  response:
    body:
      string: '{"id":"ot_ngzexek","attachments":[],"cost":0,"date_created":"2024-10-04T22:27:21.152068Z","date_updated":"2024-10-04T22:27:21.497052Z","default_text_tag_syntax":"STANDARD","detailed_status":"sent_to_signer","documents":[{"id":"do_250ae0e7-effd-43b7-8950-f780170ba1d3","allowed_actions":["CUSTOMER_CAN_ANNOTATE","NOTARIZATION_REQUIRED"],"bundle_position":0,"completion_state":"incomplete","date_created":"2024-10-04T22:27:21.332760Z","date_updated":"2024-10-04T22:27:21.355689Z","document_name":"20241004-6289-c0lk1.pdf","esign_required":false,"identity_confirmation_required":false,"notarization_required":true,"processing_state":"pending","requirement":"notarization","signing_designation_groups":[],"signing_designations":[],"vaulted":false}],"notarization_records":[],"organization_id":"or_d3gg34g","payer":"sender","redirect":{},"require_secondary_photo_id":false,"sender_name":"MetLife
        Legal Plans","signer_info":{"email":"test@willing.com","first_name":"CI","last_name":"Test","transaction_access_link":"https://app.fairfax.proof.com/activate-transaction?bundle_id=dbef52f65a-a21a-4ae0-b670-d78a37d8323d\u0026code=GVDPKTKDHMWDYLWI\u0026completion_requirements%5B%5D=NOTARIZATION\u0026document_count=1\u0026email=test%40willing.com\u0026is_mortgage=false\u0026organization_name=MetLife+Legal+Plans\u0026requires_nsa_meeting=true\u0026s_key=GVDPKTKDHMWDYLWI\u0026target=BUNDLE\u0026transaction_id=otngzexek\u0026user_id=usnm9kjp6","sdk_token":"https://app.fairfax.proof.com/activate-transaction?bundle_id=dbef52f65a-a21a-4ae0-b670-d78a37d8323d\u0026code=GVDPKTKDHMWDYLWI\u0026completion_requirements%5B%5D=NOTARIZATION\u0026document_count=1\u0026email=test%40willing.com\u0026is_mortgage=false\u0026organization_name=MetLife+Legal+Plans\u0026requires_nsa_meeting=true\u0026s_key=GVDPKTKDHMWDYLWI\u0026target=BUNDLE\u0026transaction_id=otngzexek\u0026user_id=usnm9kjp6","link_expired":false,"address":{"line1":"","line2":"","city":"","state":"","postal":"","country":""},"vesting_type":"non_borrower","signatory_capacities":[],"signing_status":"incomplete"},"signers":[{"email":"test@willing.com","first_name":"CI","last_name":"Test","transaction_access_link":"https://app.fairfax.proof.com/activate-transaction?bundle_id=dbef52f65a-a21a-4ae0-b670-d78a37d8323d\u0026code=GVDPKTKDHMWDYLWI\u0026completion_requirements%5B%5D=NOTARIZATION\u0026document_count=1\u0026email=test%40willing.com\u0026is_mortgage=false\u0026organization_name=MetLife+Legal+Plans\u0026requires_nsa_meeting=true\u0026s_key=GVDPKTKDHMWDYLWI\u0026target=BUNDLE\u0026transaction_id=otngzexek\u0026user_id=usnm9kjp6","sdk_token":"https://app.fairfax.proof.com/activate-transaction?bundle_id=dbef52f65a-a21a-4ae0-b670-d78a37d8323d\u0026code=GVDPKTKDHMWDYLWI\u0026completion_requirements%5B%5D=NOTARIZATION\u0026document_count=1\u0026email=test%40willing.com\u0026is_mortgage=false\u0026organization_name=MetLife+Legal+Plans\u0026requires_nsa_meeting=true\u0026s_key=GVDPKTKDHMWDYLWI\u0026target=BUNDLE\u0026transaction_id=otngzexek\u0026user_id=usnm9kjp6","link_expired":false,"address":{"line1":"","line2":"","city":"","state":"","postal":"","country":""},"vesting_type":"non_borrower","signatory_capacities":[],"signing_status":"incomplete"}],"status":"sent","transaction_name":"Untitled
        Transaction"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - 6f7cdb68-a4e9-4951-b4c3-151f086b3c47
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fairfax.proof.com/v1/transactions/ot_ngzexek
  response:
    body:
      string: '{"id":"ot_ngzexek","attachments":[],"cost":0,"date_created":"2024-10-04T22:27:21.152068Z","date_updated":"2024-10-04T22:27:21.497052Z","default_text_tag_syntax":"STANDARD","detailed_status":"sent_to_signer","documents":[{"id":"do_250ae0e7-effd-43b7-8950-f780170ba1d3","allowed_actions":["CUSTOMER_[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fairfax.proof.com/v1/transactions/ot_ngzexek/documents/do_250ae0e7-effd-43b7-8950-f780170ba1d3
  response:
    body:
      string: '{"errors":["Document processing: pending"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - 3b94e8fe-5191-4236-ada8-7d6534c71d40
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fairfax.proof.com/v1/transactions/ot_ngzexek/documents/do_250ae0e7-effd-43b7-8950-f780170ba1d3
  response:
    body:
      string: '{"id":"do_250ae0e7-effd-43b7-8950-f780170ba1d3","allowed_actions":["CUSTOMER_CAN_ANNOTATE","NOTARIZATION_REQUIRED"],"bundle_position":0,"completion_state":"incomplete","date_created":"2024-10-04T22:27:21.332760Z","date_updated":"2024-10-04T22:27:22.218682Z","document_name":"20241004-6289-c0lk1.pdf","is_enote":false,"permissions":["CUSTOMER_CAN_ANNOTATE","NOTARIZATION_REQUIRED"],"processing_error":null,"processing_state":"done","rejection_reason":null,"rejection_anecdote":null,"requirement":"notarization","signed_url":null,"signing_designation_groups":[],"signing_designations":[],"signing_type":"NOTARIZATION","tracking_id":null,"final_document_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - d7ae1bf9-f1ac-49c2-a731-9a6a3106564d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fairfax.proof.com/v1/transactions/ot_ngzexek
  response:
    body:
      string: '{"message":"Deleted Transaction ot_ngzexek successfully"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - 72615287-ccdc-4428-ad3e-998bbb2e861c
    status:
      code: 200
      message: OK
version: 1
