interactions:
- request:
    body: '{"signer": {"email": "test@willing.com", "first_name": "CI", "last_name":
      "Test"}, "document": "JVBERi0xLjcKCjEgMCBvYmogICUgZW50cnkgcG9pbnQKPDwKICAvVHlwZSAvQ2F0YWxvZwogIC9QYWdlcyAyIDAgUgo+PgplbmRvYmoKCjIgMCBvYmoKPDwKICAvVHlwZSAvUGFnZXMKICAvTWVkaWFCb3ggWyAwIDAgMjAwIDIwMCBdCiAgL0NvdW50IDEKICAvS2lkcyBbIDMgMCBSIF0KPj4KZW5kb2JqCgozIDAgb2JqCjw8CiAgL1R5cGUgL1BhZ2UKICAvUGFyZW50IDIgMCBSCiAgL1Jlc291cmNlcyA8PAogICAgL0ZvbnQgPDwKICAgICAgL0YxIDQgMCBSIAogICAgPj4KICA+PgogIC9Db250ZW50cyA1IDAgUgo+PgplbmRvYmoKCjQgMCBvYmoKPDwKICAvVHlwZSAvRm9udAogIC9TdWJ0eXBlIC9UeXBlMQogIC9CYXNlRm9udCAvVGltZXMtUm9tYW4KPj4KZW5kb2JqCgo1IDAgb2JqICAlIHBhZ2UgY29udGVudAo8PAogIC9MZW5ndGggNDQKPj4Kc3RyZWFtCkJUCjcwIDUwIFRECi9GMSAxMiBUZgooSGVsbG8sIHdvcmxkISkgVGoKRVQKZW5kc3RyZWFtCmVuZG9iagoKeHJlZgowIDYKMDAwMDAwMDAwMCA2NTUzNSBmIAowMDAwMDAwMDEwIDAwMDAwIG4gCjAwMDAwMDAwNzkgMDAwMDAgbiAKMDAwMDAwMDE3MyAwMDAwMCBuIAowMDAwMDAwMzAxIDAwMDAwIG4gCjAwMDAwMDAzODAgMDAwMDAgbiAKdHJhaWxlcgo8PAogIC9TaXplIDYKICAvUm9vdCAxIDAgUgo+PgpzdGFydHhyZWYKNDkyCiUlRU9G"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fairfax.proof.com/v1/transactions/?document_url_version=v1
  response:
    body:
      string: '{"id":"ot_d3jyywr","attachments":[],"cost":0,"date_created":"2024-10-11T21:46:16.682030Z","date_updated":"2024-10-11T21:46:17.144159Z","default_text_tag_syntax":"STANDARD","detailed_status":"sent_to_signer","documents":[{"id":"do_dbbd94bb-a15b-4d58-a0c6-0586e878e22b","allowed_actions":["CUSTOMER_CAN_ANNOTATE","NOTARIZATION_REQUIRED"],"bundle_position":0,"completion_state":"incomplete","date_created":"2024-10-11T21:46:16.863559Z","date_updated":"2024-10-11T21:46:16.899150Z","document_name":"20241011-128-h55abo.pdf","esign_required":false,"identity_confirmation_required":false,"notarization_required":true,"processing_state":"pending","requirement":"notarization","signing_designation_groups":[],"signing_designations":[],"vaulted":false}],"notarization_records":[],"organization_id":"or_d3gg34g","payer":"sender","redirect":{},"require_secondary_photo_id":false,"sender_name":"MetLife
        Legal Plans","signer_info":{"email":"test@willing.com","first_name":"CI","last_name":"Test","transaction_access_link":"https://app.fairfax.proof.com/activate-transaction?bundle_id=db694a5219-88b0-4f47-bfbe-12d4332f81e2\u0026code=KMCXYVUWHFRNOZYF\u0026completion_requirements%5B%5D=NOTARIZATION\u0026document_count=1\u0026email=test%40willing.com\u0026is_mortgage=false\u0026organization_name=MetLife+Legal+Plans\u0026requires_nsa_meeting=true\u0026s_key=KMCXYVUWHFRNOZYF\u0026target=BUNDLE\u0026transaction_id=otd3jyywr\u0026user_id=usnm9kjp6","sdk_token":"https://app.fairfax.proof.com/activate-transaction?bundle_id=db694a5219-88b0-4f47-bfbe-12d4332f81e2\u0026code=KMCXYVUWHFRNOZYF\u0026completion_requirements%5B%5D=NOTARIZATION\u0026document_count=1\u0026email=test%40willing.com\u0026is_mortgage=false\u0026organization_name=MetLife+Legal+Plans\u0026requires_nsa_meeting=true\u0026s_key=KMCXYVUWHFRNOZYF\u0026target=BUNDLE\u0026transaction_id=otd3jyywr\u0026user_id=usnm9kjp6","link_expired":false,"address":{"line1":"","line2":"","city":"","state":"","postal":"","country":""},"vesting_type":"non_borrower","signatory_capacities":[],"signing_status":"incomplete"},"signers":[{"email":"test@willing.com","first_name":"CI","last_name":"Test","transaction_access_link":"https://app.fairfax.proof.com/activate-transaction?bundle_id=db694a5219-88b0-4f47-bfbe-12d4332f81e2\u0026code=KMCXYVUWHFRNOZYF\u0026completion_requirements%5B%5D=NOTARIZATION\u0026document_count=1\u0026email=test%40willing.com\u0026is_mortgage=false\u0026organization_name=MetLife+Legal+Plans\u0026requires_nsa_meeting=true\u0026s_key=KMCXYVUWHFRNOZYF\u0026target=BUNDLE\u0026transaction_id=otd3jyywr\u0026user_id=usnm9kjp6","sdk_token":"https://app.fairfax.proof.com/activate-transaction?bundle_id=db694a5219-88b0-4f47-bfbe-12d4332f81e2\u0026code=KMCXYVUWHFRNOZYF\u0026completion_requirements%5B%5D=NOTARIZATION\u0026document_count=1\u0026email=test%40willing.com\u0026is_mortgage=false\u0026organization_name=MetLife+Legal+Plans\u0026requires_nsa_meeting=true\u0026s_key=KMCXYVUWHFRNOZYF\u0026target=BUNDLE\u0026transaction_id=otd3jyywr\u0026user_id=usnm9kjp6","link_expired":false,"address":{"line1":"","line2":"","city":"","state":"","postal":"","country":""},"vesting_type":"non_borrower","signatory_capacities":[],"signing_status":"incomplete"}],"status":"sent","transaction_name":"Untitled
        Transaction"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - 27501daa-8ccd-48a7-a0a5-50fd2367838c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fairfax.proof.com/v1/transactions/ot_d3jyywr
  response:
    body:
      string: '{"id":"ot_d3jyywr","attachments":[],"cost":0,"date_created":"2024-10-11T21:46:16.682030Z","date_updated":"2024-10-11T21:46:17.144159Z","default_text_tag_syntax":"STANDARD","detailed_status":"sent_to_signer","documents":[{"id":"do_dbbd94bb-a15b-4d58-a0c6-0586e878e22b","allowed_actions":["CUSTOMER_[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fairfax.proof.com/v1/transactions/ot_d3jyywr/documents/do_dbbd94bb-a15b-4d58-a0c6-0586e878e22b
  response:
    body:
      string: '{"id":"do_dbbd94bb-a15b-4d58-a0c6-0586e878e22b","allowed_actions":["CUSTOMER_CAN_ANNOTATE","NOTARIZATION_REQUIRED"],"bundle_position":0,"completion_state":"incomplete","date_created":"2024-10-11T21:46:16.863559Z","date_updated":"2024-10-11T21:46:17.819271Z","document_name":"20241011-128-h55abo.pdf","is_enote":false,"permissions":["CUSTOMER_CAN_ANNOTATE","NOTARIZATION_REQUIRED"],"processing_error":null,"processing_state":"done","rejection_reason":null,"rejection_anecdote":null,"requirement":"notarization","signed_url":null,"signing_designation_groups":[],"signing_designations":[],"signing_type":"NOTARIZATION","tracking_id":null,"final_document_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - a136b681-5c1c-4bcf-b7d8-789460c6b6fd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fairfax.proof.com/v1/transactions/ot_d3jyywr
  response:
    body:
      string: '{"message":"Deleted Transaction ot_d3jyywr successfully"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - 826d4496-8be6-4d6c-a0e1-216a1715d792
    status:
      code: 200
      message: OK
version: 1
