interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fairfax.proof.com/v1/transactions/
  response:
    body:
      string: '{"total_count":6,"count":6,"data":[{"id":"ot_np54oyk","attachments":[],"cosigner_info":{"email":"ari@willing.com","first_name":"Cai","last_name":"Cabral","transaction_access_link":"","link_expired":true,"address":{"line1":"","line2":"","city":"","state":"","postal":"","country":""},"proof_requirement":{"id_verification":{"selfie":true},"knowledge_based_authentication":true,"multi_factor_authentication":null},"vesting_type":"non_borrower","signatory_capacities":[]},"cost":0,"date_created":"2024-10-09T23:03:41.951641Z","date_updated":"2024-10-09T23:03:41.968792Z","default_text_tag_syntax":"STANDARD","detailed_status":"draft","documents":[{"id":"do_426a996e-5117-41ce-898b-0649564e498f","allowed_actions":["NOTARIZATION_REQUIRED"],"bundle_position":0,"completion_state":"incomplete","date_created":"2024-10-09T23:03:43.062096Z","date_updated":"2024-10-09T23:03:44.735248Z","document_name":"Aria
        Taylor''s Last Will and Testament","esign_required":false,"identity_confirmation_required":false,"notarization_required":true,"processing_state":"done","requirement":"notarization","signing_designation_groups":[],"signing_designations":[],"vaulted":false},{"id":"do_3d0c95d3-ae46-41ff-b1e4-d183c0d294f3","allowed_actions":["NOTARIZATION_REQUIRED"],"bundle_position":1,"completion_state":"incomplete","date_created":"2024-10-09T23:03:44.011235Z","date_updated":"2024-10-09T23:03:45.453256Z","document_name":"Aria
        Taylor''s Advance Healthcare Directive","esign_required":false,"identity_confirmation_required":false,"notarization_required":true,"processing_state":"done","requirement":"notarization","signing_designation_groups":[],"signing_de[...]
