interactions:
- request:
    body: '{"url": "https://patterson.com/", "subscriptions": ["transaction.completed"],
      "header": "X-Security-Key:mUOpMOJn"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fairfax.proof.com/v2/webhooks/
  response:
    body:
      string: '{"url":"https://patterson.com/","header":"X-Security-Key:mUOpMOJn","subscriptions":["transaction.completed"],"enabled":true,"id":"whdjzqagd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - a392f5ec-7e69-4eb4-8749-401110dcb130
    status:
      code: 200
      message: OK
- request:
    body: '{"url": "https://www.austin.net/"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fairfax.proof.com/v2/webhooks/whdjzqagd
  response:
    body:
      string: '{"updated":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - cfae9a81-38be-4c4e-9b96-4ba2c260a0b6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fairfax.proof.com/v2/webhooks/whdjzqagd
  response:
    body:
      string: '{"url":"https://www.austin.net/","header":"X-Security-Key:mUOpMOJn","subscriptions":["transaction.completed"],"enabled":true,"id":"whdjzqagd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - 6464daca-4e95-4347-804f-5a3ecfe36fd5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fairfax.proof.com/v2/webhooks/whdjzqagd
  response:
    body:
      string: '{"deleted":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - 35819d5e-6648-4c02-99f9-4d4e04c590ae
    status:
      code: 200
      message: OK
version: 1
