interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fairfax.proof.com/v2/webhooks/
  response:
    body:
      string: '[{"url":"https://smith.org/","header":"X-Security-Key:LcwpYPBs","subscriptions":["transaction.completed"],"enabled":true,"id":"whn68xeon"},{"url":"https://brown.com/","header":"X-Security-Key:jxhwjnfh","subscriptions":["transaction.completed"],"enabled":true,"id":"whnkx5z4d"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - 600f5d13-6fa8-41c0-8030-97d060882221
    status:
      code: 200
      message: OK
version: 1
