interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fairfax.proof.com/v2/webhooks/
  response:
    body:
      string: '[{"url":"https://hunt-wu.com/","header":"X-Security-Key:UEqKdSqe","subscriptions":["transaction.completed"],"enabled":true,"id":"whd5jzezn"},{"url":"https://watkins.com/","header":"X-Security-Key:WvKJlaTH","subscriptions":["transaction.completed"],"enabled":true,"id":"whngg73on"},{"url":"https://peters.com/","header":"X-Security-Key:Dzqzhgae","subscriptions":["transaction.completed"],"enabled":true,"id":"whdwkbz5d"},{"url":"https://www.cole-carroll.org/","header":"","subscriptions":["transaction.completed"],"enabled":true,"id":"whnmmw7kn"},{"url":"https://lopez.info/","header":"","subscriptions":["transaction.completed"],"enabled":true,"id":"whnp6jqwn"},{"url":"https://wood.info/","header":"","subscriptions":["transaction.completed"],"enabled":true,"id":"whnqqzpyn"},{"url":"https://johnson-reynolds.biz/","header":"","subscriptions":["transaction.completed"],"enabled":true,"id":"whn68y9zn"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      notarize-version:
      - '2017-05-01'
      x-amz-trace-id:
      - df4ffd57-ee2f-4a0d-b4cd-3f30350eab11
    status:
      code: 200
      message: OK
version: 1
